.conversation {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover {
    background: #002C88;
}

.conversation:hover {
    cursor: pointer;
}

.title-text {
    font-weight: bold;
    color: #eeeeee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.created-date {
    color: #ddd;
    font-size: 1rem;
}

.conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}